/bin/Release/iTextSharp.xml
/bin/Release/itextsharp.dll
/iTextSharp.xml
/itextsharp.suo
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/itextsharp.csproj.FileListAbsolute.txt
/obj/Release/itextsharp.dll
